.left {
    background-color: #f5f7ff;
    height: 450px auto;
    width: 50%;
    float: left;
    border-top: 1px solid #f5f7ff;
    padding-right: 5px;
    text-align: left;
    /* padding-bottom: 10rem; */
}

.right {
    background-color: white;
    height: 450px;
    width: 50%;
    float: right;
    border: 1px solid #f5f7ff;
    display: grid;
    place-items: center;
}

.head {
    font-size: 30px;
    
}
.description{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.heading{
    color: #cbcfd7;
    font-size: 12px;
}
.footer{
    font-size: 12px;
}

/* image transition */

.imageslider {
    height: 71%;
    width: 60%;
    background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/s/b/z/-original-imag92pgvvnbk3ys.jpeg?q=70');
    background-size: 100% 100%;
    animation: iamgeslide 7s linear infinite;
}



@keyframes iamgeslide {
    0% {
       background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/c/e/v/-original-imag92pgxazrpwxf.jpeg?q=70');
    }

    25% {
       background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/f/s/e/-original-imag92pggqg9jbdg.jpeg?q=70');
    }

    50% {
        background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/5/9/2/-original-imag92pgraqqcg8u.jpeg?q=70');
    }
    75% {
        background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/s/b/z/-original-imag92pgvvnbk3ys.jpeg?q=70');
    }

    100% {
        background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/k/f/j/-original-imag92pgr5yttjez.jpeg?q=70');
    }
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  .link2{
    float: left;
    color: gray;
    text-decoration: none;
    border-bottom: 2px solid #4180ff;
    display: none;
  }

  

  @media screen and (max-width: 457px){
    .main-div{
        display: flex;
        flex-direction: column-reverse;

    }
    .left{
        width: 100%;
        height: 95vh;
        padding-right: 20px;
        background-color: #ffffff;

    }
    .right{
        width: 100%;
        height: 70vh;
        
    }
    .dot{
        margin-bottom: 3rem;
    }
    .imageslider{
        width: 90%;
        height: 60%;
        margin-bottom: 30px;
    }
    .description{
        margin-left: 5%;
    }
    .link2{
        display: block;
        width: 7rem;
    }
  }