.upper-div{
    position: absolute;
    left: 0;
}

.left {
    background-color: #f5f7ff;
    height: 450px auto;
    border-top: 1px solid #f5f7ff;
    padding-right: 5px;
    text-align: left;
    padding-left: 7rem;
}

.right {
    background-color: white;
    height: 450px;
    width: 52%;
    float: right;
    border: 1px solid #f5f7ff;
    display: grid;
    place-items: center;
}

.head {
    font-size: 22px;
    margin-bottom: 0px;
    
}
.description{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.heading{
    color: #cbcfd7;
    font-size: 12px;
    margin-bottom: 0.5px;
}
.footer{
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.middle-heading{
    width: 138px;
    height: 18px;
    font-size: 12px;
    margin-bottom: 0.5rem;
}

li{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.main-content{
    width: 467px; 
    height: 312px;
}

  .link2{
    float: left;
    color: gray;
    text-decoration: none;
    border-bottom: 2px solid #4180ff;
    display: none;
  }

  /* media query for max width 457px (iphone SE only) */

  @media screen and (max-width: 457px){
    .main-div{
        display: flex;
        flex-direction: column-reverse;

    }
    .left{
        width: 100%;
        height: 95vh;
        padding-right: 20px;
        background-color: #ffffff;

    }
    .right{
        width: 100%;
        height: 70vh;
        
    }
    
    .description{
        margin-left: 5%;
    }
    .link2{
        display: block;
        width: 7rem;
    }
    .upper-div{
        position: relative;

    }
    .left{
        padding-left: 0%;
        height: 94vh;
    }
    .main-content{
        width: 100%;
        height: 0%;
    }
    .middle-heading{
        margin-top: 1.5rem;
    }
    li{
        line-height: 21px;
    }
  }



  /* @media screen and (max-width: 414px){
    .left{
        height: 62vh;
    }
  } */

